@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;900&display=swap');



@media screen {
    body {
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    background-color: #eee;
}
    
       adress {font-style: italic;
    }

    h3 {font-style: italic;}
    h4 {font-style: italic;}
    p {font-style: italic;  
        line-height:normal;
        letter-spacing:normal;
    }
 header {text-align: right;
    }
    pre {font-size: 120%;
   word-spacing: normal}
}


